// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.file-structure {
    display: block;
}

.file-structure-tree-container {
    display: block;
    background: @tool-panel-background-color;
    height: 100%;
    margin-bottom: 8px;
    overflow-y: scroll;
    width: 256px;
}

.file-structure-tree-header {
    background: @tool-panel-background-color;
    color: @text-color-highlight;
    display: block;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    margin-bottom: 8px !important;
    text-align: center;
    width: 100%;
}

.file-structure-symbol {
    display: block;
    width: 100%;
}

.file-structure-symbol-content {
    display: block;
    margin-bottom: 1px;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    height: 24px;
    width: 100%;
}

.file-structure-symbol-text {
    color: @text-color;
    font-family: @font-family;
    font-size: @font-size;
    vertical-align: top;
}

.file-structure-collapsed {
    display: none;
}

.expand-collapse {
  display: inline-block;
  transform: scale(.75, .75);
}
